.battle {
  padding: 0 32px;

  .battleTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .battleStep {
    display: flex;
    justify-content: center;
    width: 100%;

    .battleStepItem {
      display: flex;
      flex-direction: column;
      align-items: center;

      .stepItemName {
        font-size: 20px;
        margin: 8px 16px;
      }

      .stepItemIcon {
        font-size: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        padding: 16px;
      }

      .stepItemIconUser {
        @extend .stepItemIcon;
        color: #f5c27f;
      }

      .stepItemIconBattle {
        @extend .stepItemIcon;
        color: red;
      }

      .stepItemIconWinner {
        @extend .stepItemIcon;
        color: #f2ea57;
      }
    }
  }

  .battlePlayer {
    margin-top: 10px;

    .battlePlayerTitle {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }

    .battlePlayerContext {
      display: flex;
      justify-content: space-between;

      .battlePlayerContextItem {
        margin-top: 10px;
        width: 48%;

        .contextItemTitle {
          font-weight: bold;
          margin-bottom: 10px;
        }

        .contextItemData {
          display: flex;
          align-items: center;

          .ant-btn {
            height: auto;
          }

          .contextItemDataInput {
            margin-right: 10px;
          }
        }
      }

      .renderPlayer {
        margin-top: 10px;
        width: 48%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dfdfdf;
        border-radius: 4px;

        .renderPlayerData {
          display: flex;
          align-items: center;

          img {
            border-radius: 8px;
            width: 36px;
            height: 36px;
            margin-right: 8px;
          }
          .itemImage{
            border-radius: 8px;
            width: 36px;
            height: 36px;
            margin-right: 8px;
          }
          .playerName {
            font-size: 20px;
            font-weight: bold;
            color: #1890ff;
          }
        }

        .renderPlayerIcon {
          font-size: 18px;
          color: red;
          cursor: pointer;
        }
      }
    }

    .battleButton {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-btn {
        height: auto;
      }
    }
  }
}