.battleDetail{
  .battleCard{
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    .battleCardItem{
      width: 264px;
      max-width: 264Px;
      background-color: #dddddd;
      padding: 32Px;
      .battleCardItemTitle{
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 16Px 0;
        font-size: 20px;
      }
      .battleCardItemImg{
        width: 100%;
      }
      .battleCardItemScores{
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
      }
      .battleCardItemName{
        color: #1890ff;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
      }
      .battleCardItemRow{
        display: flex;
        align-items: center;
        font-size: 8px;
        .rowIcon{
          margin-right: 4px;
          font-size: 16Px;
        }
      }
    }
  }
  .resetButton{
    margin-top: 16Px;
    margin-bottom: 16Px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}