.battleDetail{
  .battleCard{
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    .battleCard-item{
      width: 264px;
      max-width: 264Px;
      background-color: #dddddd;
      padding: 32Px;
      .battleCard-item-title{
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 16Px 0;
        font-size: 20px;
      }
      .battleCard-item-img{
        width: 100%;
      }
      .battleCard-item-scores{
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
      }
      .battleCard-item-name{
        color: #1890ff;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
      }
      .battleCard-item-row{
        display: flex;
        align-items: center;
        font-size: 8px;
        .row-icon{
          margin-right: 4px;
          font-size: 16Px;
        }
      }
    }
  }
  .reset-button{
    margin-top: 16Px;
    margin-bottom: 16Px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}